<!-- NOTE: This is the page user(customer) sees after login/registration (home/welcome screen) -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Tourpal</title>
    <link rel="stylesheet" href="/public/css/driver-dashboard.css">
</head>
<body>
    
        <header class="site-header">
            <div>
                <i class="fa-solid fa-bars" id="menu"></i>

                <div class="site-logo">
                    <a href="/public/templates/driver/driver-dashboard.html"><img src="/public/images/tourpal-logo.svg" alt="logo"></a>
                </div>
                <div style="visibility: hidden">
                    sffasfss
                </div>
            </div>
        <nav>
            <ul>
                <!-- <li><a href="#">Notifications</a></li> -->
                <li><a href="/public/templates/logout.html" id="logout"><i class="fa fa-user" aria-hidden="true"></i> Log out - </a></li>

            </ul>
        </nav>
    </header>
    <main>
        
        <h1>
            Driver Dashboard
        </h1>
        <div id="upcomings">
            <h3>Upcoming Trips: </h3>
        </div>
        <div id="history">
            <h3>History: </h3>
        </div>

    </main>

    <footer class="footer-section">
        <p>&#169; 2022 Tourpal. All Rights Reserved.</p>
    </footer>
    <!-- <script src="/public/js/base.js"></script> -->

    <script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js"></script>

<script src="/public/js/base.js"></script>

    <script>
        const firebaseApp = firebase.initializeApp({
            //Your own Firebase Credentials..
            apiKey: "AIzaSyBT-dRzb2pbR9exsiiIJtoILkf5ck3X0pg",
            authDomain: "tourpal-e680e.firebaseapp.com",
            databaseURL: "https://tourpal-e680e-default-rtdb.firebaseio.com",
            projectId: "tourpal-e680e",
            storageBucket: "tourpal-e680e.appspot.com",
            messagingSenderId: "648603206107",
            appId: "1:648603206107:web:c425541113bc713a2be7fe",
            measurementId: "G-G9LL7MBNG0"
          });
          const db = firebaseApp.firestore();


      const categoryDocRef = db
        .collection('driver')
         .doc(sessionStorage.getItem("logged_in_uid"));
       console.log(categoryDocRef)
          console.log(sessionStorage.getItem("logged_in_uid"))
    let future = new Date();

          //TODO: filter according to logged in user onlyyyyyyyyyyyyyyyyyyyyyyyyyy
          // TODO: 
          db.collection("trip").where('driver', '==', categoryDocRef).where('startdate', '>=', future).orderBy("startdate", "desc").get().then((querySnapshot) => {
              querySnapshot.forEach((doc) => {
                  const pdiv = document.createElement("article")
                  fetch(`http://api.positionstack.com/v1/reverse?access_key=c5f0aee166d9e58c8177284029e1a94d&query=${doc.data().pickup_location.latitude},${doc.data().pickup_location.longitude}`)
                  .then(response => response.json())
                  .then(d => {
                    console.log('Success:', d["data"][0].label);
                    console.log(doc.data())

                    db
                    .collection('experience')
                    .doc(doc.data().experience_selected.id).get().then((querySnapshot2)=>{

                        db
                        .collection('customer')
                        .doc(doc.data().customer.id).get().then((querySnapshot3)=>{

                            pdiv.innerHTML = `
                            <ul>
                                <li>
                                    <span>Trip id:</span> ${doc.id}
                                </li>
                                <li>
                                    <span>Experience:</span> ${querySnapshot2.data().name}
        
                                </li>
                                <li>
                                    <span>Customer:</span> ${querySnapshot3.data().name}
                                </li>
                                <li style="font-size: 1.3rem"  >
                                    <span>Starting:</span> ${doc.data().startdate.toDate().toString().split(' ', 4).join(' ')}
                                </li>
                                <li>
                                    <span>Pickup:</span> ${d["data"][0].label}
                                </li>
                                
                            </ul>
                            <br>
                          `
            
                        });


                     
                    });


    
                  upcomings.appendChild(pdiv)
                  
                  })
                  .catch((error) => {
                    console.error('Error:', error);
                  });

                  
                });
          });


          db.collection("trip").where('driver', '==', categoryDocRef).where('startdate', '<', future).orderBy("startdate", "desc").get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
                const pdiv = document.createElement("article")
                fetch(`http://api.positionstack.com/v1/reverse?access_key=c5f0aee166d9e58c8177284029e1a94d&query=${doc.data().pickup_location.latitude},${doc.data().pickup_location.longitude}`)
                .then(response => response.json())
                .then(d => {
                  console.log('Success:', d["data"][0].label);
                  console.log(doc.data())

                  db
                  .collection('experience')
                  .doc(doc.data().experience_selected.id).get().then((querySnapshot2)=>{

                      db
                      .collection('customer')
                      .doc(doc.data().customer.id).get().then((querySnapshot3)=>{

                          pdiv.innerHTML = `
                          <ul>
                              <li>
                                  <span>Trip id:</span> ${doc.id}
                              </li>
                              <li>
                                  <span>Experience:</span> ${querySnapshot2.data().name}
      
                              </li>
                              <li>
                                  <span>Customer:</span> ${querySnapshot3.data().name}
                              </li>
                              <li style="font-size: 1.3rem"  >
                                  <span>Starting:</span> ${doc.data().startdate.toDate().toString().split(' ', 4).join(' ')}
                              </li>
                              <li>
                                  <span>Pickup:</span> ${d["data"][0].label}
                              </li>
                              
                          </ul>
                          <br>
                        `
          
                      });


                   
                  });


  
                history.appendChild(pdiv)
                
                })
                .catch((error) => {
                  console.error('Error:', error);
                });

                
              });
        });
    </script>
</body>
</html>